<header class="header">
  <div class="container">
    <h1 class="logo">My Blog</h1>
    <nav class="nav">
    </nav>
  </div>
</header>

<!-- Main Content -->
<main class="main-content">
  <div class="container">
    <section class="intro">
      <h2>Bem-vindo ao Meu Blog!</h2>
      <p>Este é um blog criado para o DIO projeto</p>
    </section>

    <section class="blog-posts">
      <h2>Ultimos posts</h2>
      <div class="post">
        <img src="https://img.freepik.com/fotos-gratis/web-design-online_53876-95309.jpg?t=st=1729479603~exp=1729483203~hmac=c432abeb30f9ed6b21d062262ec07fc147eb072c9bf27d828f196fb9a6379094&w=740" alt="Post 1">
        <h3><a href="#">Como criar um site do zero</a></h3>
        <p>Aprenda passo-a-passo com javascript.</p>
      </div>

      <div class="post">
        <img src="https://img.freepik.com/fotos-gratis/homem-trabalhando-em-casa-no-escritorio-enquanto-toma-uma-bebida_23-2149208566.jpg?t=st=1729479688~exp=1729483288~hmac=77d70b0743d3d3fea12f706c3ff9385879e2abe6d80a3b20a925d93aabc40bf6&w=740" alt="Post 2">
        <h3><a href="#">10 Dicas de produtividade para trabalho remoto</a></h3>
        <p>Aumente sua produtividade com estas ferramentas</p>
      </div>

      <div class="post">
        <img src="https://img.freepik.com/fotos-gratis/fotografia-lateral-de-um-editor-de-codigo-usando-react-js_181624-61842.jpg?t=st=1729479652~exp=1729483252~hmac=a3f2e3d108597dca0c0cf6c3159b11f01625b583328ff4e8c2b1984b5f7842d9&w=740" alt="Post 3">
        <h3><a href="#">Top 5 JavaScript Frameworks em 2024</a></h3>
        <p>Descubra os melhores FRAMEWORKS para JS</p>
      </div>

      <div class="post">
        <img src="https://img.freepik.com/fotos-gratis/floresta-de-estilo-escuro-aokigahara_23-2151542459.jpg?t=st=1729479734~exp=1729483334~hmac=b723b224a4427d0ca9a1a8e072bef1167f53dbe4d460452b64d2f39667fa884d&w=740" alt="Post 4">
        <h3><a href="#">Um guia para sobrevivencia de iniciantes em uma floresta</a></h3>
        <p>Como sobreviver na selva.</p>
      </div>
    </section>
  </div>
</main>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 My Blog - Todos os direitos reservados.</p>
  </div>
</footer>